/* style.css */
/*CONCORDIA COLOUR PALETTE
Burgandy: #912338
Magenta: #db0272
Orange: #da3a16
Mauve: #da3a16
Dark blue: #da3a16
Blue: #0072a8
Turquoise: #057d78
Green:#508212
*/
/* Basic body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
